<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>VibeYum</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>VibeYum</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>앱에서 카메라를 사용하려면 권한이 필요합니다.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>앱에서 마이크를 사용하려면 권한이 필요합니다.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>앱에서 사진 라이브러리에 접근하려면 권한이 필요합니다.</string>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
	<dict>
		<key>CFBundleURLSchemes</key>
		<array>
		<string>com.googleusercontent.apps.1088275016090-ilhbipi5g51hg7aklkguhfe7gv7vb1af</string>
		</array>
	</dict>
	<dict>
    	<key>CFBundleURLSchemes</key>
		<array>
		<string>fb1135413371934546</string> <!-- ← 여기 App ID 숫자만 -->
		</array>
	</dict>
	</array>

	<key>FacebookAppID</key>
	<string>1135413371934546</string>

	<key>FacebookDisplayName</key>
	<string>VibeYum</string>

	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbauth2</string>
	</array>
	<key>naverServiceAppUrlScheme</key>
	<string>naverYOUR_CLIENT_ID</string>

</dict>
</plist>
